.footer {
	padding-top: 50px;
	padding-bottom: 35px;
	background-color: #212121;
}
.footer__navigation {
	
}
.footer__list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	
}
.footer__list-li {
	font-size: 15px;
	color: #fff;
	text-decoration: none;
	padding: 0;
	margin: 0;
	margin-bottom: 15px;
	
	@media (min-width: 1200px) {
		font-size: 18px;
	}
	@media (min-width: 1450px) {
		font-size: 24px;
	}
}
.footer__list-li-link {
	color: #fff;
	text-decoration: none;
	
	&--m-l-10 {
		margin-left: 10px;
	}
	
	&:hover {
		text-decoration: none;
		color: #afb5fa;
		border-bottom: 1px solid #afb5fa;
	}
}




